<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="menuDefFile" value="C:\Users\garfi\source\repos\ToolsGenMenu\ToolsGenMenu\Notes\MenuDef.xml"/>

    <!--Home -->
    <add key="connStr" value="User Id=mytest;Password=oracle;Data Source=pruebas3"/>
    <add key="appCaption" value="App Para Construir Archivo de Menu"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>